
<% unless @project.nil? %>
	<% @subprojects = @project.children.visible.all %>
	<% cache(@subprojects) do %>
		<% if @subprojects.any? %>
			<h3><%=l(:label_subproject_plural)%></h3>
			<p>
				<%= @subprojects.collect{|p| link_to p, project_path(p)}.join(", ").html_safe %>
			</p>
		<% end %>
	<% end %>
<% end %>
